* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #222;
    color: #f4f4f4;
    
}

.container {
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    height: 400px;
}

#quoteBox{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid#ccc;
    border-radius: 10px;
    min-height: 100px;
    box-shadow: 5px 5px 5px gray;
    max-width: 500px;
    text-align:center;
}

.buttons button,
.controls button {
padding: 10px 20px;
margin: 5px;
cursor: pointer;   
box-shadow: 5px 5px 5px gray;
}

select {
    padding: 5px 10px;
    margin: 10px 0;
}

@media (max-width:600px){
    .container{
        width: 90%;
    }

    .buttons button,
.controls button {
    width: 30%;
    font-size: 14px;
}
}